@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Ubuntu:wght@500&display=swap');
/* PC用のCSSはメディアクエリの外に記述する */
* {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', 'Noto Sans JP', sans-serif;
}
body {
	width: 100vw;
	align-items: center;
}
.header {
	display: flex;
	height: 6.25em;
	width: 100vw;
	color: #DADADA;
	background: rgb(165, 163, 198);
	background: linear-gradient(342deg, rgba(165, 163, 198, 0.8) 0%, rgba(78, 159, 70, 0.8) 30%, rgba(0, 212, 255, 0.8) 100%);
	align-items: center;
	justify-content: center;
}
.header-txt {
	font-size: 3.125em;
	text-align: center;
}
.container {
	width: clamp(300px, 63vw, 100vw);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
	text-align: left;
}
.list {
	margin-top: 4.5em;
}
.list a {
	font-size: 2em;
}
.list ul {
	height: 30vh;
	border-top: solid 0.35em #5989cf;
	border-bottom: solid 0.35em #5989cf;
	background-color: #F0F0F0;
	list-style: none;
	padding-left: 0;
	/*スクロールバー表示*/
	overflow-y: scroll;
	/*スマホ用*/
	-webkit-overflow-scrolling: touch;
}
ul * {
	border-left: solid 0.4em #ffc06e;
	background: #fff8e8;
	margin: 1em;
}
li {
	white-space: pre-wrap; /*改行させるための*/
	height: 4.5em;
	margin: 0.625em;
	/* データ完成次第書き換えようかな */
}
.footer {
	height: 15vh;
	width: 100vw;
	text-align: center;
	color: #CCCCCC;
	border-top: solid 0.15em;
	display: table-cell;
	vertical-align: middle;
}
footer a {
	color: #838383;
	text-decoration: none;
	transition: 0.7s ease-in-out;
}
footer a:hover{
	color: cornflowerblue;
}
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width : 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
}